<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/LoginPage.css" th:href="@{/css/LoginPage.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet"/>
</head>
<body>

<form class="form" th:action="@{/securing}" method="post">
    <h1 class="form__title">Sign in</h1>
    <div class="form__group">
        <input class="form__input" name="nickname" placeholder=" " type="text" required/>
        <label class="form__label">Nickname</label>
    </div>
    <div class="form__group">
        <input class="form__input" name="password"  placeholder=" " type="password" required/>
        <label class="form__label">Password</label>
    </div>
    <div class="already__loggedIn">
        <label>Not logged in yet?</label>
        <a href="/registration">Register</a>
    </div>

    <button type="submit" class="form__button" >Login</button>
</form>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script th:if="${param.error}">
    Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Nickname or password incorrect!'
    })
</script>
</html>